body {
  font-family: Arial;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  color: white;
  text-align: center;
  margin: 0;
}

button, select, input, textarea {
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c6ff;
  color: white;
}

.hidden {
  display: none;
}
